<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--Online Database-->
    <!--<add name="ConnString" connectionString="Data Source=mssql2008.hosting.co.in;Initial Catalog=EEPwdEastPune;User ID=EEPwdEastPune;Password=EEPwdEastPune/1;Max Pool Size=100" providerName="System.Data.SqlClient;" />
    <add name="ConnString2" connectionString="Data Source=mssql2008.hosting.co.in;Initial Catalog=EEPwdEastPune;User ID=EEPwdEastPune;Password=EEPwdEastPune/1" providerName="System.Data.SqlClient"/>-->

    <!--New Online Database-->

    <!--<add name="ConnString" connectionString="Data Source=pwdpune.sghitech.co.in;Initial Catalog=sghitech_EEPwdEastPune;User ID=sghitech_EEPwdEastPune;Password=Swapnil@12;Max Pool Size=100" providerName="System.Data.SqlClient" />

    <add name="ConnString2" connectionString="Data Source=pwdpune.sghitech.co.in;Initial Catalog=sghitech_EEPwdEastPune;User ID=sghitech_EEPwdEastPune;Password=Swapnil@12;" providerName="System.Data.SqlClient" />-->



    <!--Local Database-->
    <add name="ConnString" providerName="System.Data.SqlClient" connectionString="Data Source=SGHITECH_1;Initial Catalog=sghitech_EEPwdEastPune1;User ID=sa;Password=123" />
    <add name="ConnString2" providerName="System.Data.SqlClient" connectionString="Data Source=SGHITECH_1;Initial Catalog=sghitech_EEPwdEastPune1;User ID=sa;Password=123" />

    <!--Local Database-->
    <!--<add name="ConnString" providerName="System.Data.SqlClient" connectionString="Data Source=SGHITECH-6;Initial Catalog=mahapwdd_EEPwdEastPuneDB;Integrated Security=SSPI" />
    <add name="ConnString2" providerName="System.Data.SqlClient" connectionString="Data Source=SGHITECH-6;Initial Catalog=mahapwdd_EEPwdEastPuneDB;Integrated Security=SSPI" />-->

    <add name="ConnMDBString" providerName="System.Data.SqlClient" connectionString="Data Source=SGHITECH-6;Initial Catalog=EEPwdMasterDb;Integrated Security=SSPI" />   
  </connectionStrings>
  <system.web>
    <!--<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>-->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

    <!-- <customErrors mode="Off"/>-->
    <customErrors defaultRedirect="GenericError.htm" mode="Off">
      <error statusCode="400" redirect="errors_400.html"/>
      <error statusCode="401" redirect="errors_401.html"/>
      <error statusCode="403" redirect="errors_403.html"/>
      <error statusCode="404" redirect="errors_404.html"/>
      <error statusCode="405" redirect="errors_405.html"/>
      <error statusCode="408" redirect="errors_408.html"/>
      <error statusCode="440" redirect="errors_440.html"/>
      <error statusCode="449" redirect="errors_449.html"/>
      <error statusCode="495" redirect="errors_495.html"/>
      <error statusCode="496" redirect="errors_496.html"/>
      <error statusCode="520" redirect="errors_520.html"/>
      <error statusCode="521" redirect="errors_521.html"/>
      <error statusCode="522" redirect="errors_522.html"/>
      <error statusCode="526" redirect="errors_526.html"/>
      <error statusCode="500" redirect="errors_500.html"/>
      <error statusCode="502" redirect="errors_502.html"/>
      <error statusCode="503" redirect="errors_503.html"/>
      <error statusCode="504" redirect="errors_504.html"/>
    </customErrors>
    <authentication mode="None"/>
    <identity impersonate="true"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />    
    <sessionState timeout="1"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\TempImageFiles\;" />
    <add key="UserId" value="eepwdeastpune@gmail.com"/>
    <add key="Password" value="dbseast@pune"/>
    <add key="FormPassword" value="PWDPUNE"/>
    <add key="SettingPassword" value="PWDPUNE"/>
    <add key="MailServerName" value="smtp.gmail.com,587"/>
    <add key="FolderPath" value="~/Files/" />
    <add key="AutoMailFilePath" value="~/exportedfiles/" />
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>-->
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>